<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>La Casa del Turismo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">La Casa del Turismo 2</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid [fixed]="true">
    <ion-row class="ion-align-items-center">
      <ion-col size="4" style="text-align: center; justify-content: center;">
        <img src="https://i.imgur.com/xifoKDB.png" alt="LogoEmpresa" />
      </ion-col>
      <ion-col>
        <ion-row class="titulo1" style="text-align: center; justify-content: center;">La Casa Del Turismo</ion-row>
        <ion-row class="titulo2" style="text-align: center; justify-content: center;">VIAJES Y TURISMO</ion-row>
        <ion-row class="titulo3" style="text-align: center; justify-content: center;">Calle 48 # 49 – 73 Tel. 219 09 36
        </ion-row>
        <ion-row class="titulo4" style="text-align: center; justify-content: center;">Cel. 311 752 0216 – 312 490 2409
        </ion-row>
        <ion-row class="titulo5" style="text-align: center; justify-content: center;">RNT 35238</ion-row>
        <ion-row class="titulo6" style="text-align: center; justify-content: center;">SEDE LA CASA DEL AFICHE.</ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <div style="text-align: center; justify-content: center;">
        <ion-card class="card-flyer">
          <img src="https://img.freepik.com/vector-gratis/flyer-fotografico-viajes_23-2148051459.jpg" />
          <ion-card-header>
            <ion-card-title>
              Cartagena de Indias
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="height: 60px; overflow: hidden;overflow-wrap: break-word;">Here's a small text description for the
              card content. Nothing more, nothing less.Here's a small text description for the card content. Nothing
              more, nothing less.Here's a small text description for the card content. Nothing more, nothing less.Here's
              a small text description for the card content. Nothing more, nothing less.Here's a small text description
              for the card content. Nothing more, nothing less.Here's a small text description for the card content.
              Nothing more, nothing less.Here's a small text description for the card content. Nothing more, nothing
              less.Here's a small text description for the card content. Nothing more, nothing less.</p>
          </ion-card-content>
          <ion-button>Descripción</ion-button>
        </ion-card>
      </div>
      <div style="text-align: center; justify-content: center;">
        <ion-card class="card-flyer">
          <img src="https://i.pinimg.com/originals/3e/8c/ec/3e8cec3139e6e110c5e4f7e516f6c9b9.jpg" />
          <ion-card-header>
            <ion-card-title>
              Cartagena de Indias
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="height: 60px; overflow: hidden;overflow-wrap: break-word;">Here's a small text description for the
              card content. Nothing more, nothing less.Here's a small text description for the card content. Nothing
              more, nothing less.Here's a small text description for the card content. Nothing more, nothing less.Here's
              a small text description for the card content. Nothing more, nothing less.Here's a small text description
              for the card content. Nothing more, nothing less.Here's a small text description for the card content.
              Nothing more, nothing less.Here's a small text description for the card content. Nothing more, nothing
              less.Here's a small text description for the card content. Nothing more, nothing less.</p>
          </ion-card-content>
          <ion-button>Descripcion</ion-button>
        </ion-card>
      </div>
      <div style="text-align: center; justify-content: center;">
        <ion-card class="card-flyer">
          <img
            src="https://d3jmn01ri1fzgl.cloudfront.net/photoadking/webp_thumbnail/5c27344dd615a_template_image_1546073165.webp" />
          <ion-card-header>
            <ion-card-title>
              Cartagena de Indias
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="height: 60px; overflow: hidden;overflow-wrap: break-word;">Here's a small text description for the
              card content. Nothing more, nothing less.Here's a small text description for the card content. Nothing
              more, nothing less.Here's a small text description for the card content. Nothing more, nothing less.Here's
              a small text description for the card content. Nothing more, nothing less.Here's a small text description
              for the card content. Nothing more, nothing less.Here's a small text description for the card content.
              Nothing more, nothing less.Here's a small text description for the card content. Nothing more, nothing
              less.Here's a small text description for the card content. Nothing more, nothing less.</p>
          </ion-card-content>
          <ion-button>Descripcion</ion-button>
        </ion-card>
      </div>
      <div style="text-align: center; justify-content: center;">
        <ion-card class="card-flyer">
          <img
            src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/travel-flyer-template-design-0d6e74d7c6fc3baba29f9429e71d2c61_screen.jpg" />
          <ion-card-header>
            <ion-card-title>
              Cartagena de Indias
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p style="height: 60px; overflow: hidden;overflow-wrap: break-word;">Here's a small text description for the
              card content. Nothing more, nothing less.Here's a small text description for the card content. Nothing
              more, nothing less.Here's a small text description for the card content. Nothing more, nothing less.Here's
              a small text description for the card content. Nothing more, nothing less.Here's a small text description
              for the card content. Nothing more, nothing less.Here's a small text description for the card content.
              Nothing more, nothing less.Here's a small text description for the card content. Nothing more, nothing
              less.Here's a small text description for the card content. Nothing more, nothing less.</p>
          </ion-card-content>
          <ion-button>Descripcion</ion-button>
        </ion-card>
      </div>
    </ion-row>
  </ion-grid>

  <!--  footer-->
  <div class="footerdiv">
    <br>
    <p style="text-align: justify; margin: 10px;">La Casa del Turismo Liceísta, se compromete con:
      LEY 1336 DE 2009 Lucha contra la explotación, la pornografía, el turismo sexual y demás formas de abuso sexual
      con
      menores de edad. - Ley 397 de 1997 Protección de los Bienes de interés Cultural- Decreto 1377 de 2013 que
      comprende
      el manejo de la
      confidencialidad de los datos que sean suministrados a la agencia - Ley 1752 de 2015 por medio de la cual se
      modifica la Ley 1482 de 2011, para sancionar penalmente la discriminación contra las personas con discapacidad,
      la igualdad de raza o género. Ley 599 de 2000 y Decreto 1608 de 1978. Contra el tráfico de especies como flora y
      fauna silvestre.</p>
  </div>
</ion-content>