<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NavBar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="3" style="text-align: center; justify-content: center;">
        <img src="https://i.imgur.com/xifoKDB.png" alt="LogoEmpresa" style="width: 100%;" />
      </ion-col>
      <ion-col>
        <ion-row style="text-align: center; justify-content: center; font-size: 4vw;">La Casa Del Turismo</ion-row>
        <ion-row style="text-align: center; justify-content: center; font-size: 3.2vw;">VIAJES Y TURISMO</ion-row>
        <ion-row style="text-align: center; justify-content: center; font-size: 2.2vw;">Calle 48 # 49 – 73 Tel. 219 09 36</ion-row>
        <ion-row style="text-align: center; justify-content: center; font-size: 2.2vw;">Cel. 311 752 0216 – 312 490 2409</ion-row>
        <ion-row style="text-align: center; justify-content: center; font-size: 2vw;">RNT 35238</ion-row>
        <ion-row style="text-align: center; justify-content: center; font-size: 2.2vw;">SEDE LA CASA DEL AFICHE.</ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>