<ion-header>
  <ion-toolbar class="nav-bar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flyer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card" style="margin-right: 20px;">
    <ion-card-header class="card-header">
      <div class="row">
        <div class="col-4">
          <h5 class="card-title">Lista de Flyer</h5>
        </div>
        <div class="col-8">
          <ion-button style="float: right;" [routerLink]="['/flyer/create']">
            <ion-icon name="add-circle"></ion-icon>&nbsp;Crear Flyer</ion-button>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <table class="table table-bordered table-hover table-responsive justify-content-center" style="overflow-x: auto; margin-top: 10px;">
        <caption style="margin-left: 10px;">Lista de Flyer {{ year }}</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Flyer</th>
            <th scope="col" style="width: fit-content;">Funciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let flyer of listFlyer">
            <td><p>{{ flyer.nombre }}</p></td>
            <td>
              <p>{{ flyer.descripcion }}</p>
            </td>
            <td style="text-align: center;">
              <img src="{{ flyer.urlImg }}" alt="Flyer" style="width: auto; max-width: 350px;" />
            </td>
            <td style="width: fit-content; justify-content: center; text-align: center;">
              <ion-button color="secondary" style="width: fit-content;" >
                <ion-icon name="create"></ion-icon>&nbsp;Editar
              </ion-button>&nbsp;
              <ion-button color="danger" style="width: fit-content;">
                <ion-icon name="trash"></ion-icon>&nbsp;Eliminar
              </ion-button>
            </td>
          </tr>
          <tr *ngIf="listFlyer.length === 0">
            <td colspan="4">
                <p style="text-align: center; font-size: x-large; color: red;">
                    {{"Lista vacia"}}</p>
            </td>
        </tr>
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>