/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@media (max-width: 319.98px) {
    .footerdiv {
        font-size: xx-small;
    }
    ion-row .titulo1 { font-size: 6.6vw;} 
    ion-row .titulo2 { font-size: 4.4vw;}
    ion-row .titulo3 { font-size: 3.2vw;}
    ion-row .titulo4 { font-size: 3.2vw;}
    ion-row .titulo5 { font-size: 3vw;}
    ion-row .titulo6 { font-size: 3vw;}

    .card-flyer {
        width: 88vw;
    }

    .card-flyer img {
        width: auto;
        max-height: 100vh;
    }
    .table thead th {
        width: 96vw;
        min-width: 20vw;
    }
    .table tbody td {
        width: 96vw;
        max-width: 20vw;
    }
}

@media (min-width: 320px) and (max-width: 575.98px) {
    .footerdiv {
        font-size: xx-small;
    }
    ion-row .titulo1 { font-size: 6vw;} 
    ion-row .titulo2 { font-size: 4.4vw;}
    ion-row .titulo3 { font-size: 3.2vw;}
    ion-row .titulo4 { font-size: 3.2vw;}
    ion-row .titulo5 { font-size: 3vw;}
    ion-row .titulo6 { font-size: 3vw;}
    .card-flyer {
        width: 86vw;
    }

    .card-flyer img {
        width: auto;
        max-height: 100vh;
    }

    ion-menu::part(container) {
        --side-max-width: 100vw;
    }
    .table thead th {
        width: 96vw;
        min-width: fit-content;
    }
    .table tbody td{
        max-width: 60vw;
    }
    .table tbody td img{
        max-height: calc(96vw/(16/9));
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .footerdiv {
        font-size: small;
    }
    ion-row .titulo1 { font-size: 5vw;} 
    ion-row .titulo2 { font-size: 3.4vw;}
    ion-row .titulo3 { font-size: 2.2vw;}
    ion-row .titulo4 { font-size: 2.2vw;}
    ion-row .titulo5 { font-size: 2vw;}
    ion-row .titulo6 { font-size: 2vw;}
    .card-flyer {
        width: 44vw;
    }

    .card-flyer img {
        height: calc(88vw/(16/9));
        max-height: calc(100vw/(16/9));
    }

    ion-menu::part(container) {
        --side-max-width: 25vw;
    }
    .table thead th {
        width: 96vw;
        min-width: 20vw;
    }
    .table tbody td {
        width: 96vw;
        max-width: 30vw;
    }
    .table tbody td img{
        max-height: calc(48vw/(16/9));
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .footerdiv {
        font-size: small;
    }
    ion-row .titulo1 { font-size: 4.6vw;} 
    ion-row .titulo2 { font-size: 3vw;}
    ion-row .titulo3 { font-size: 1.8vw;}
    ion-row .titulo4 { font-size: 1.8vw;}
    ion-row .titulo5 { font-size: 1.6vw;}
    ion-row .titulo6 { font-size: 1.6vw;}
    .card-flyer {
        width: 45vw;
    }

    .card-flyer img {
        height: calc(90vw/(16/9));
        max-height: calc(100vw/(16/9));
    }

    ion-menu::part(container) {
        --side-max-width: 25vw;
    }
    .table thead th {
        width: 96vw;
        min-width: 20vw;
    }
    .table tbody td {
        width: 96vw;
        max-width: 35vw;
    }
    .table tbody td img{
        max-height: calc(48vw/(16/9));
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .footerdiv {
        font-size: small;
    }
    ion-row .titulo1 { font-size: 4.6vw;} 
    ion-row .titulo2 { font-size: 3vw;}
    ion-row .titulo3 { font-size: 1.8vw;}
    ion-row .titulo4 { font-size: 1.8vw;}
    ion-row .titulo5 { font-size: 1.6vw;}
    ion-row .titulo6 { font-size: 1.6vw;}
    .card-flyer {
        width: 30vw;
    }

    .card-flyer img {
        height: calc(60vw/(16/9));
        max-height: calc(100vw/(16/9));
    }
    ion-menu::part(container) {
        --side-max-width: 25vw;
    }
    .table thead th {
        width: 96vw;
        min-width: 20vw;
    }
    .table tbody td {
        width: 96vw;
        max-width: 28vw;
    }
    .table tbody td img{
        max-height: calc(40vw/(16/9));
    }
 }

 /* // Large devices (desktops, 992px and up) */
@media (min-width: 1200px) and (max-width: 1599.98px) { 
    .footerdiv {
        font-size: small;
    }
    ion-row .titulo1 { font-size: 4.2vw;} 
    ion-row .titulo2 { font-size: 2.6vw;}
    ion-row .titulo3 { font-size: 1.4vw;}
    ion-row .titulo4 { font-size: 1.4vw;}
    ion-row .titulo5 { font-size: 1.2vw;}
    ion-row .titulo6 { font-size: 1.2vw;}
    
    .card-flyer {
        width: 30vw;
    }

    .card-flyer img {
        height: calc(60vw/(16/9));
        max-height: calc(100vw/(16/9));
    }
    ion-menu::part(container) {
        --side-max-width: 25vw;
    }
    .table thead th {
        width: 96vw;
        min-width: 20vw;
    }
    .table tbody td {
        width: 96vw;
        max-width: 20vw;
    }
    .table tbody td img{
        max-height: calc(38vw/(16/9));
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) {  
    .footerdiv {
        font-size: medium;
    }
    ion-row .titulo1 { font-size: 3.8vw;} 
    ion-row .titulo2 { font-size: 2.2vw;}
    ion-row .titulo3 { font-size: 1.2vw;}
    ion-row .titulo4 { font-size: 1.2vw;}
    ion-row .titulo5 { font-size: 1vw;}
    ion-row .titulo6 { font-size: 1vw;}
    .card-flyer {
        width: 22vw;
    }

    .card-flyer img {
        height: calc(44vw/(16/9));
        max-height: calc(100vw/(16/9));
    }
    ion-menu::part(container) {
        --side-max-width: 25vw;
    }
    .table thead th {
        width: 96vw;
        min-width: 20vw;
    }
    .table tbody td {
        width: 96vw;
        max-width: 20vw;
    }
    .table tbody td img{
        max-height: calc(96vw/(16/9));
    }
}

// Global
.card-flyer {
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px; padding: .5em;
}

ion-button {
    text-transform: none;
}

ion-menu::part(backdrop) {
    // background-color: rgb(106, 100, 255, 0.50);
    background-color: rgb(33, 121, 167, 0.4)
}
  
ion-menu::part(container) {
    border-radius: 0 10px 10px 0;
    box-shadow: 8px 0px 16px rgb(0, 132, 205, 0.75);
    --side-max-width: 25vw;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100% !important;
    border-radius: 5px;
}

.table tbody p {
    max-height: 120px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.feedback-invalid {
    width: 100%;
    margin-top: .25rem;
    font-size: 90%;
    color: #dc3545;
}

.card .card-header  {
    color: rgb(0, 0, 0);
    background-color: rgb(200, 200, 200);
    border-color: gray;
}

.nav-bar {
    --background: rgb(156, 217, 151, 0.8);
    --color: black;
}